.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 24px 150px;
  color: #18181b;
  font-size: 14px;
  line-height: 2;
}

@media (max-width: 991px) {
  .header {
    padding: 24px 20px;
  }
}
